#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  text-decoration: none;
  padding: 5px;
  border:solid black;
  background-color: #165e7a;
  width:50%;
  margin:auto;
}

.learnerInfo {
background-color: #757572;
border:solid white;
text-decoration: none;
text-align: center;
padding:2em;
}

ul {
  list-style-type: none;
}